#wrapper {
  margin: 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.input-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cv-container {
  height: 297mm;
  width: 210mm;
}