.cv-result {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 54px;
  font-size: 12pt;
}
.cv-result h2 {
  font-size: 16pt;
  margin-bottom: 5px;
}


.cv-header {
  text-align: center;
  margin-bottom: 24px;
}

.full-name {
  margin-bottom: 5px;
}

.education-container {
  margin-bottom: 32px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.school-container,
.work-container {
  margin-top: 10px;
}

.school-name,
.company-name {
  font-weight: 600;
}

.school-degree,
.school-address,
.work-position,
.work-address {
  font-style: italic;
}

.work-description {
  margin-top: 5px;
}
