.form-section {
  flex-direction: column;
  gap: 32px;
  padding: 32px 36px;
}

.form-section h2 {
  font-size: 24px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-section .material-symbols-outlined {
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
}

.form-section .material-symbols-outlined:hover {
  background-color: #ececec;
}

.form-header > span {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.btn-container {
  display: flex;
  gap: 10px;
  justify-content: end;
}

form button {
  font-weight: 600;
  font-size: inherit;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  align-self: end;
}

.submit-btn {
  background-color: #0D8CE8;
  color: white;
  border: 1px solid #0D8CE8;
}

.cancel-btn {
  background-color: white;
  border: 1px solid #494949;
  color: #494949;
}

.submit-btn:hover {
  background-color: hsl(205, 89%, 40%);
}

.cancel-btn:hover {
  background-color: #f1f1f1;
}

.school-list,
.experience-list {
  display: flex;
  gap: 4px;
  align-items: center;
}

.edit-btn {
  margin-left: auto;
}

.delete-btn {
  color: #c50000;
}

.material-symbols-outlined.delete-btn:hover {
  color: white;
  background-color: #c50000;
}