label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

input, textarea {
  padding: 12px;
  background-color: #FAFAFA;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: inherit;
}

input:focus, textarea:focus {
  border-color: #858585;
  outline: none;
}

textarea {
  resize: none;
}